/* 
    Document   : tablet-device
    Created on : 17 juil. 2012, 17:49:58
    Author     : MAZE
*/

html, body {
  overflow: auto;
}
#main {
  background-color: red;
  font-size: 300%;
}
#content {
  width: 70%;
  margin-top: 100px;
  border-width: 3px;
}
#content p, #content li {
  line-height: 1.2em;
}
#content li img {
  width: 10%;
}