@use "sass:color";
@use "mixins" as mq;

$page-background: color.adjust(#fff, $lightness: -3%);
$primary-blue: #4f6686;
$github-colour: #111111;
$bluesky-colour: #0085ff;
$linkedin-colour: #0177b5;
$download-link-background: #1565c0;
$download-link-colour: #ecf0f1;

html {
    font-size: calc(0.8em + 1vw);

    @include mq.desktop {
        font-size: 15pt;
    }
}

body {
    background-color: $page-background;
}

.main-container,
body,
html {
    height: 100%;
}

.main-container {
    position: relative;
}

.inner-container {
    padding: 2rem;
    // lobotomized owl selector
    * + * {
        margin-top: 1rem;
    }

    @include mq.desktop {
        width: 60%;
        margin: auto;
    }
}

.full-name,
.job-title,
.get-in-contact-title,
.social-networks__item,
.download-cv__link {
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.full-name {
    color: $primary-blue;
}

.job-title {
    color: color.adjust($primary-blue, $lightness: -20%);
}

.intro-text {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 1.2em;
}

.get-in-contact-title {
    margin-top: 3rem;
}

.social-networks {
    list-style-type: none;
    display: flex;
    flex-direction: column;

    @include mq.desktop {
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 2em;
    }
}

.social-networks__item {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
}

.social-networks__link {
    color: #666666;
    display: block;
    font-size: 1.2em;
    line-height: 1rem;
    padding: 1rem;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
        background-color: #eaeaea;
        outline: none;
        color: $primary-blue;

        .fa-github + .social-networks__text {
            color: $github-colour;
        }

        .fa-bluesky + .social-networks__text {
            color: $bluesky-colour;
        }

        .fa-linkedin + .social-networks__text {
            color: $linkedin-colour;
        }
    }
}

.social-networks__icon {
    margin-right: 20px;
    width: 20px;
}

.fa-github {
    color: $github-colour;
}

.fa-bluesky {
    color: $bluesky-colour;
}

.fa-linkedin {
    color: $linkedin-colour;
}

.download-cv {
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    background-color: $download-link-background;
    transition: background-color 0.3s;

    @include mq.desktop {
        max-width: 300px;
    }
}

.download-cv__link {
    text-align: center;
    display: block;
    padding: 0.6rem 0;
    font-size: 1.1rem;
    color: $download-link-colour;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        background-color: color.adjust(
            $download-link-background,
            $lightness: 10%
        );
        color: #fff;
    }
}

.download-cv__icon {
    margin-right: 25px;
}
